<table class="table">
    <thead>
    <tr>
        <th>S. No.</th>
        <th>DateTime of Insertion</th>
        <th>Uuid of Morcha</th>
        <th>Packet Type</th>
        <th>Payload</th>
    </tr>
    </thead>
    {% for event in events %}
    {% if event.packet_type < 100 %}
    <tr class="danger">
    {% else %}
    <tr class="info">
    {% endif %}
        <td>{{event.id}}</td>
        <td>{{event.req_datetime}}</td>
        <td>{{event.uuid}}</td>
        <td>{{event.packet_type}}</td>
        <td>{{event.payload}}</td>
    </tr>
    {% endfor %}
</table>
